<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-Bo21yfmmZuXwcN/9vKrA5jPUMhr7znVBBeLxT9MA4r2BchhusfJ6+n8TLGUcRAtL" crossorigin="anonymous">
    </head>
    <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Lakhan Jindam</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/user/add">Add User</a></li>
        <li><a href="/user/update">Update User</a></li>
        
      </ul>
    </div>
  </nav>
  <div class="container">
      {{{body}}}
  </div>
    </body>
</html>